// Color detection file 

//Colors palette 1
$pink-lavender: #cdb4dbff;
$orchid-pink: #ffc8ddff;
$nadeshiko-pink: #ffafccff;
$uranian-blue: #bde0feff;
$baby-blue-eyes: #a2d2ffff;

//Colors palette 2
$light-cornflower-blue: #8ecae6ff;
$blue-green: #219ebcff;
$prussian-blue: #023047ff;
$selective-yellow: #ffb703ff;
$tangerine: #fb8500ff;

//Colors palette 3
$rich-black-fogra-29: #000814ff;
$oxford-blue: #001d3dff;
$prussian-blue: #003566ff;
$mikado-yellow: #ffc300ff;
$gold-web-golden: #ffd60aff;

//Colors palette 4
$ash-gray: #cad2c5ff;
$dark-sea-green: #84a98cff;
$hookers-green: #52796fff;
$dark-slate-gray: #354f52ff;
$charcoal: #2f3e46ff;

//Colors palette 5
$yellow-green-crayola: #d9ed92ff;
$yellow-green-crayola-2: #b5e48cff;
$granny-smith-apple: #99d98cff;
$ocean-green: #76c893ff;
$keppel: #52b69aff;
$viridian-green: #34a0a4ff;
$blue-munsell: #168aadff;
$cg-blue: #1a759fff;
$lapis-lazuli: #1e6091ff;
$yale-blue: #184e77ff;

//Colors palette 6
$russian-violet: #231942ff;
$purple-navy: #5e548eff;
$purple-mountain-majesty: #9f86c0ff;
$lilac: #be95c4ff;
$pink-lavender: #e0b1cbff;

//Colors palette 7
$jet: #353535ff;
$ming: #3c6e71ff;
$white: #ffffffff;
$gainsboro: #d9d9d9ff;
$indigo-dye: #284b63ff;
