<footer class="footer">
  <div class="footer_container">
    <div class="footer_content">
      <div class="footer__about_block">
        <div class="footer__description">
          <p class="footer__description_text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat,
            excepturi quae maxime nihil voluptates in laudantium accusantium
            ullam omnis voluptatum tempora amet mollitia consequuntur, debitis
            quasi aut sapiente quis earum?
          </p>
        </div>
      </div>
      <div class="footer__link_block">
        <nav class="footer_nav">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a class="footer__nav-link" href="/">Главная</a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__nav-link" href="/pages/about.html">О нас</a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__nav-link" href="#">Проекты</a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__nav-link" href="#">Оплата</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__other">
        <button class="footer__btn-example">Подробнее</button>
      </div>
    </div>
  </div>
</footer>
