<header class="header">
  <div class="header_container">
    <div class="header_content">
      <div class="header_logo">
        <!-- <div class="header__image-logo">
          <a class="header__logo-image-link" href="#"
            ><img
              class="header__image-logo"
              src="assets/logo_html.png"
              alt="logo"
          /></a>
        </div> -->
        <div class="header__text-logo">
          <a class="header__logo-text-link" href="/"> logo </a>
        </div>
      </div>
      <div class="header_navs">
        <nav class="header_nav">
          <ul class="header__nav-list">
            <li class="header__nav-item">
              <a class="header__nav-link" href="/">Главная</a>
            </li>
            <li class="header__nav-item">
              <a class="header__nav-link" href="/pages/about.html">О нас</a>
            </li>
            <li class="header__nav-item">
              <a class="header__nav-link" href="#">Проекты</a>
            </li>
            <li class="header__nav-item">
              <a class="header__nav-link" href="#">Оплата</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header_other">
        <a class="header__btn_link" href="#"
          ><button type="button" name="header__btn_example" class="header__btn_example">
            Подробнее
          </button></a
        >
        <!-- <button type="button" id="mobile_btn" class="header__btn_mobile">
          <i class="fas fa-bars"></i>
        </button> -->
      </div>
    </div>
  </div>
</header>
