<div class="header_mobile">
  <div class="header_mobile_navs">
    <nav class="header_mobile_nav">
      <ul class="header_mobile__nav-list">
        <li class="header_mobile__nav-item">
          <a class="header_mobile__nav-link" href="/">Главная</a>
        </li>
        <li class="header_mobile__nav-item">
          <a class="header_mobile__nav-link" href="pages/about.html">О нас</a>
        </li>
        <li class="header_mobile__nav-item">
          <a class="header_mobile__nav-link" href="#">Проекты</a>
        </li>
        <li class="header_mobile__nav-item">
          <a class="header_mobile__nav-link" href="#">Оплата</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
